body {
  font-family: Arial, sans-serif;
  margin: 0;
  color: #13073F;
}

#site-logo {
  font-size: 36px;
}

button {
  display: flex;
  cursor: pointer;
  height: 25px;
  width: 25px;
  background: transparent;
  border: unset;
  color: #fff;
  font-size: 2em;
  align-items: center;
  justify-content: center;
  transition: margin 0.4s linear;
}

.close-btn {
  display: none;
}

#skip-link a {
  background-color: #000069;
  color: white;
  width: 10em;
  padding: 0.5em;
  text-align: center;
  margin: 0 0 1em;
  /* visibly hidden (positioned off-screen) by default */
  position: absolute;
  top: -40px;
  left: 0px;
}
#skip-link a:focus { 
  /* move into visible focus */
  top: 0.1em;   
  left: 1em;
}

header{
  background-color: #301ab2 ;
  color: white;
}
#header-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: relative;
}

.navigation-items {
  align-items: center;
  font-size: 1.3em;
}

.navigation-items[aria-hidden="false"] {
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: #301ab2 ;
  padding: 0 20px 0 40px;
  z-index: 99;
  opacity: 1;
  margin-right: 0;
  transition: margin 0.5s ease-in-out;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

nav li {
  margin-right: 20px;
}

nav a {
  color: white;
  text-decoration: none;
}

h1,
h2,
h3 {
  font-weight: normal;
}

h1 {font-size: 44px;}

.hamburger {
  position: absolute;
  top: calc(50% - 12.5px);
  right: 12px;
  display: none;
}

#hero {
  background-image: url("assets/hero-image.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 0px;
  padding-top: 2em;
  padding-bottom: 1em;
  height: 35em;
}


#hero h2 {
  font-size: 3.2vw;
  margin: 0;
  text-align: left;
}

#hero p {
  font-size: 1.6vw;
  max-width: 800px;
  text-align: left;
}

#hero img {
  width: 100%
}

#hero div {
  align-self: baseline;
  padding: 1em;
  background-color: #D7E3FF ;
  display: block;
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 52%;
  }

.cta-button {
  background-color: #FF6252;
  border: none;
  color: #000069;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  border-radius: 4px;
}

#about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
  padding: 0 50px;
}

#about img {
  width: 50%;
  height: auto;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 50px 0;
  padding: 0 50px;
}

#projects li {
  flex-basis: 30%;
  margin-bottom: 50px;
}

#projects h3 {
  margin: 0;
  margin-top: 0.5em;
}

#projects img {
  width: 100%;
  height: auto;
}

#contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  padding: 0 50px;
}


form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

form label {
  font-size: 18px;
  margin-bottom: 10px;
}

form input,
form textarea {
  font-size: 16px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 4px;
}

form input:focus,
form textarea:focus {
  outline: none;
  border-color: #ff6600;
}

button[type="submit"] {
  background-color: #ff6600;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 20px;
  margin-top: 20px;
  text-decoration: none;
  cursor: pointer;
}

footer {
  background-color: #90A5F6;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

footer li {
  margin-right: 20px;
}

footer a {
  color: #13073F  ;
  text-decoration: none;
}

.project-grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project-card {
  flex-basis: calc(46.33%);
  margin-bottom: 20px;
  padding: 20px;
  background-color: #D7E3FF;
  border-radius: 4px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
}

@media screen and (max-width: 768px) {

  #hero div {
    width: 90%;
  }
  #hero h2 {
    font-size: 48px;
  }

  #hero p {
    font-size: 24px;
  }

  .project-card {
    flex-basis: 100%;
  }

    .navigation-items {
    opacity: 0;
    margin-right: -100%;
  }

  .navigation-items ul {
    display: none;
  }

  .navigation-items.drawer {
    flex-direction: column;
    align-items: flex-end;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    background-color: #333;
    padding: 0 20px 0 40px;
    z-index: 99;
    opacity: 1;
    margin-right: 0;
    transition: margin 0.5s ease-in-out;
  }  

  .navigation-items.drawer button {
    display: block;
  }

  .navigation-items.drawer ul {
    display: flex;
  }

  .close-btn {
    top: 50px;
    position: absolute;
    right: 20px;
  }

  .hamburger {
    display: flex;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 150px;
    font-size: 2em;
  }

  nav ul li {
    margin-top: 20px;
    margin-right: 0px;
  }


}

header :focus,
main :focus,
form :focus {
  border-radius: 2px;
  outline: 2px solid white !important;
  background-color: #000069;
  color: white;
}

footer :focus {
  border-radius: 2px;
  outline: 2px solid white !important;
  background-color: #000069;
  color: white;
  padding: 0.2em;  
}

header a:focus{
    padding: .2em;
}

.cta-button:hover {
  border-radius: 2px;
  outline: 2px solid white !important;
  background-color: #000069;
  color: white;
}
